@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', 'Courier New', Courier, monospace;
    /* border: 1px solid #5c5b5a; */
}

.header {
    width: 80%;
    margin: 0 auto;
    display: flex;
    margin-top: 25px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    font-size: 18px;
    color: #5c5b5a;
    font-weight: 1000;
    text-decoration: none;
}

.btns1 {
    margin-left: 235px;
}

.btn1, .btn4 {
    background-color: white;
    color: black;
    border-color: #bfbdbd;
}

.btn2, .btn3 {
    background-color: #ff7729;
    color: white;
    border-color: #ff7729;
}

button {
    border-width: 1px;
    border-radius: 50px;
    width: 120px;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0;
}

.logo, button {
    cursor: pointer;
}

.banner {
    display: inline-flex;
    margin-top: 25px;
}

.banner-content {
    width: 655px;
    margin: 100px 0 0 150px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    /* padding: 100px 0 0 150px; */
}

h1 {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    font-weight: 1000;
}

span {
    color: #ff7729;
}

p {
    color: #5c5b5a;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
}

.banner-img {
    display: flex;
    background-color: #ff7729;
    margin-left: 234px;
}

.banner-img img {
    width: 480px;
    border-radius: 50px;
    padding: 40px;
    position: relative;
    right: 200px;
}

.apps {
    margin-top: 75px;
    text-align: center;
}